NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_ROOT_DOMAIN=orcaly.com.br
NEXT_PUBLIC_SITE_URL=https://orcaly.com.br
NEXT_PUBLIC_APP_URL=https://orcaly.com.br
ORCALY_APP_URL=https://orcaly.com.br

MERCADO_PAGO_PLATFORM_ACCESS_TOKEN=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_PUBLIC_KEY=

MERCADO_PAGO_CLIENT_ID=
MERCADO_PAGO_CLIENT_SECRET=
MERCADO_PAGO_REDIRECT_URI=https://orcaly.com.br/api/marketplace/payments/mercado-pago/callback
MERCADO_PAGO_WEBHOOK_SECRET=